*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;

}
.container{
    max-width:1320px;
    margin: auto;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.dflex{
    display: flex;
}
/* main defult css end */
/* bannar section css start */

.banner-section{
     
}
.banner-section .banner-content{
    background: url("images/newyear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    min-height: 600px;
    margin-top: 30px;
    border-radius: 20px;
     


}

.banner-section .banner-content *{
    color: white;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: auto 0;
}

.banner-section .banner-content p {
    margin-top: 175px;
    margin-bottom:10px;

}
.banner-section .banner-content h1 {
    font-size: 50px;
    margin-top: 7px;
}
/* banner-css end */

.off-section{
    
}
.off-content p {
    color: red;
    font-family: 'Inter';
    font-weight: 400;
    margin-top: 20px;
}
.off-section .off-content h1 {
    margin-top: 98px;
    font-family: inter;
    color: red;
    font-size: 50px;
}
.off-content h3 {
    font-family: inter;
    font-size: 30px;
}
.off-section .off-content img{}

.off-content *{
    text-align: center;

}
.off-content img {
    margin-left: 250px;
    margin-top: 101px;
}
/* off section css end */
/* welcome section start */

.welcome-section{
     margin-top: 50px;
}
.welcome-section .welcome-section-content {
    background: url("images/Vectorrr.png");
    padding: 300px 95px;
    background-repeat: no-repeat;
    background-size: cover;
    fill: linear-gradient(90deg, #070211 1%, rgba(7, 2, 17, 0.368) 100%);margin-top: 7px;


}
.welcome-section .welcome-section-content h1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    width: 455px;
    margin-bottom: 19px;
}
.welcome-section .welcome-section-content p{
    color:white;
    width:500px;
}
.welcome-section .welcome-section-content h5 {
    font-family: 'Inter';
    color: white;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}
/* banner2  section css end */
/* join css start */
.join-section{
    display: flex;
    justify-content:center;
    align-items: center;
}
.background{
    background-color: yellow;
}

