*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;

}
.container{
    max-width:1320px;
    margin: auto;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.dflex{
    display: flex;
}
/* main defult css end */
/* bannar section css start */

.banner-section{
     
}
.banner-section .banner-content{
    background: url("images/newyear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    min-height: 600px;
    margin-top: 30px;
    border-radius: 20px;
     


}

.banner-section .banner-content *{
    color: white;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: auto 0;
}

.banner-section .banner-content p {
    margin-top: 175px;
    margin-bottom:10px;

}
.banner-section .banner-content h1 {
    font-size: 50px;
    margin-top: 7px;
}
/* banner-css end */

.off-section{
    
}
.off-content p {
    color: red;
    font-family: 'Inter';
    font-weight: 400;
    margin-top: 20px;
}
.off-section .off-content h1 {
    margin-top: 98px;
    font-family: inter;
    color: red;
    font-size: 50px;
}
.off-content h3 {
    font-family: inter;
    font-size: 30px;
}
.off-section .off-content img{}

.off-content *{
    text-align: center;

}
.off-content img {
    margin-left: 250px;
    margin-top: 101px;
}
/* off section css end */
/* welcome section start */

.welcome-section{
     margin-top: 50px;
}
.welcome-section .welcome-section-content {
    background: url("images/Vectorrr.png");
    padding: 300px 95px;
    background-repeat: no-repeat;
    background-size: cover;
    fill: linear-gradient(90deg, #070211 1%, rgba(7, 2, 17, 0.368) 100%);margin-top: 7px;


}
.welcome-section .welcome-section-content h1 {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    width: 455px;
    margin-bottom: 19px;
}
.welcome-section .welcome-section-content p{
    color:white;
    width:500px;
}
.welcome-section .welcome-section-content h5 {
    font-family: 'Inter';
    color: white;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}
/* banner2  section css end */
/* join css start */
.join-section{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
    background-color: #ffeaea;
    padding-bottom: 70px;
    
}
.background{
  
}
.join-content h1, span {
    font-family: 'Merriweather';
    font-weight: 500;
    font-size: 20px;
    font-weight: 600;
}
.join-content{
    padding: 60px 0;
    
}
.join-content button{
    background-color: red;
    font-family: inter;
    padding:10px 20px;
    margin-top: 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}
/* coming section css start */
.coming-section{}
.coming-section .content{
    display: flex;
    justify-content: center;
    align-items: center;

}
.coming-section .content .coming-left{
    width: 33.3%;
}
.coming-section .content .coming-left h5 {
    font-family: 'Inter';
    color: red;
}
.coming-section .content .coming-left h1 {
    font-family: 'Merriweather';
}
.coming-section .content .coming-left p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.coming-section .content  .coming-center{
    width:33.3%
}
.coming-center img{
    border:  10px solid red;
    border-radius: 200px;
    padding: 20px;
}
.coming-section .content .coming-right{
    width:33.3%
}
.coming-right h1 {
    color: red;
}

.coming-right p {
    font-family: 'Inter';
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.coming-right img{}
/* coming-section css end  *
/* holiday-section css start */

.holiday-section{
 width: 700px;
 margin: auto;
 text-align: center;
 margin: 50px auto;
}
.holiday-section-content h5{
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.holiday-section-content h1  {
    font-size: 50px;
    margin-top: 10px;
    font-family: Merriweather;
}
.holiday-section-content span {
    font-size: 50px;
}
.holiday-section-content p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Inter';
}


